@import url('https://fonts.googleapis.com/css2?family=Futura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #042b50;
}

.header {
  display: flex;
  align-items: center;
  background-color: #e2c5a6;
  padding: 0 20px;
}

.header::before {
  content: "trivall";
  font-size: 25px;
  font-family: 'Futura', sans-serif; 
  font-weight: bold;
  padding: 10px;
  color: #042b50;
  margin-right: auto;
}

.header a {
  margin: 0 10px;
  text-decoration: none;
  color: #424748;
  font-family: 'Montserrat', sans-serif;
}

.header a:hover {
  color: white;
  background-color: #909ee0;;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #042b50;
}

.login-logo {
  font-family: 'Futura', sans-serif;
  font-size: 7em;
  color: #042b50;
  position: relative;
  content: "trivall";
  z-index: 1;
}

.login-slogan {
  font-family: 'Montserrat', sans-serif;
  color: #042b50;
  font-size: 20px;
}

.logo-img-container {
  position: absolute;
  display: flex;
  align-items: center;
}

.pin,
.plane {
  opacity: 0.15;
  width: 6em;
  height: 6em;
  display: inline-block;
}

.table-style td, .table-style th, .link-style {
  text-transform: uppercase;
}

#chart {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #424748;
  background-color: white;
}

.link-style {
  font-size: 16px;
  font-weight: bold;
  background-color: #e2c5a6;
  color: #042b50;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
}

.link-style:hover {
  background-color: #042b50;
}

#show-nav {
  text-transform: uppercase;
  padding: 5px;
  display: flex;
}

#show-nav a {
  margin-right: 10px;
  text-decoration: none;
}

#show-page {
  text-transform: uppercase;
  background-color: #e2c5a6;
  padding: 20px;
  border: 10px solid #042b50;
}


.delete-form {
  margin-left: 20px;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #a3b1c7;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 20px 0 30px;
}


body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E8ECEB;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #424748;
}

nav > a.active {
  color: white;
  cursor: default;
}

#new-form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 22rem));
}

#new-form *,
#add-review-form *,
#add-performer-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

#new-form input[type="submit"] {
  grid-column: span 2;
  width: 10rem;
  margin-left: auto;
}

table {
  font-size: 20px;
}

table thead th {
  padding: 5px;
  border-bottom: 2px solid #424748;
}

table td {
  padding: 10px;
  text-align: center;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #B8C0C2;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: white;
}

#show-page {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

table {
  text-transform: uppercase;
}

form {
  text-transform: uppercase;
}

button {
  text-transform: uppercase;
}

#show-nav a, #show-nav form {
  display: inline-block;
  margin-right: 10px;
}

#delete-form {
  display: inline-block;
  margin: auto;
  float: left;
}

td {
  text-transform: uppercase;
}

hr {
  color: #424748
}

nav {
  font-weight: bold;
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  /* padding: 1rem; */
  width: 80%;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  margin: .5rem 0 2rem;
}

.badge {
  background-color: #B8C0C2;
  padding: .5rem;
  margin: .5rem;
  border-radius: .3rem;
  font-size: .8rem;
  text-align: center;
}

ul {
  margin: 0 0 1rem;
  padding: 0;
  list-style: none;
}
	
li {
  font-weight: bold;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}
