<%- include('../partials/header') %>

<h2>Add a Travel Arragement</h2>
<form action="/trips/<%= tripId %>/arrangements" method="POST">
  <label>Type:
    <input type="text" name="type">
  </label><br>
  <label>Date and Time:
    <input type="datetime-local" name="dateTime">
  </label><br>
  <label>Location:
    <input type="text" name="location">
  </label><br>
  <label>Details:</label>
  <textarea name="details"></textarea>
  <button type="submit">Add Arrangement</button>
</form>

<%- include('../partials/footer') %>