<%- include('../partials/header') %>


<form action="/trips" method="POST">
  <label>Title:
    <input type="text" name="title">
  </label><br>
  <label>Start Date:
    <input type="date" name="startDate">
  </label><br>
  <label>End Date:
    <input type="date" name="endDate">
  </label><br>
  <label>Location:
    <input type="text" name="location">
  </label><br>
  <label>Description:</label>
  <textarea name="description"></textarea>
  <button type="submit">Create Trip</button>
</form>

<%- include('../partials/footer') %>